# IDE
.idea/
.vscode/
.swp
.VSCodeCounter

# macos file system
.DS_Store

# Test directory
/tst
/temp

# Golang
.gopath/

# Config
config.yaml
config.local*.yaml

# Logfile
logs/

# Makefile temporary builds
build/
